<section class="dialog">
  <div class="header">
    <div>
      <h1>
        {{
          data.isEdit
            ? data.value.id
              ? "แก้ไขข้อมูลสัมฤทธิสัญลักษณ์"
              : "เพิ่มข้อมูลสัมฤทธิสัญลักษณ์"
            : "ข้อมูลสัมฤทธิสัญลักษณ์"
        }}
      </h1>
      <button
        *ngIf="data.value.id && !data.isEdit"
        (click)="data.isEdit = true"
        class="edit"
      >
        <i class="material-icons">edit</i>
        แก้ไข
      </button>
    </div>

    <i class="material-icons close" (click)="onCloseModal()">close</i>
  </div>
  <hr />

  <ng-container *ngIf="!data.value || data.isEdit; else view">
    <div class="body">
      <div class="input">
        <p>ชื่อสัมฤทธิบัตร ภาษาไทย</p>
        <input [(ngModel)]="data.value.cert_name_th" />
      </div>
      <div class="input">
        <p>ชื่อสัมฤทธิบัตร ภาษาอังกฤษ</p>
        <input [(ngModel)]="data.value.cert_name_en" />
      </div>
      <div class="input">
        <p>ชุดวิชา</p>
        <mat-form-field>
          <mat-select
            [(ngModel)]="data.value.m_id"
            placeholder="เลือกชุดวิชา"
            #singleSelect
          >
            <mat-option>
              <ngx-mat-select-search
                [formControl]="moduleFilterCtrl"
                placeholderLabel="ค้นหาชุดวิชา"
                noEntriesFoundLabel="ไม่พบชุดวิชาที่ค้นหา"
              ></ngx-mat-select-search>
            </mat-option>

            <mat-option
              *ngFor="let module of filteredModule | async"
              [value]="module.m_id"
            >
              {{ module.module_id + " " + module.module_name_th }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input">
        <p>ประเภทสัมฤทธิบัตร</p>
        <select
          [(ngModel)]="data.value.degree_of_module_id"
          [class.disabled]="data.value.degree_of_module_id == undefined"
        >
          <option value="undefined" disabled>เลือกประเภทสัมฤทธิบัตร</option>
          <option *ngFor="let item of degree_of_module" [value]="item.id">
            {{ item.degree_of_module_name }}
          </option>
        </select>
      </div>
    </div>

    <div class="footer">
      <button class="submit">บันทึก</button>
      <button class="cancel" (click)="onCloseModal()">ยกเลิก</button>
    </div>
  </ng-container>
  <ng-template #view>
    <div class="body">
      <div class="input">
        <p>ชื่อสัมฤทธิบัตร ภาษาไทย</p>
        <span>{{ data.value.cert_name_th }}</span>
      </div>
      <div class="input">
        <p>ชื่อสัมฤทธิบัตร ภาษาอังกฤษ</p>
        <span>{{ data.value.cert_name_en }}</span>
      </div>
      <div class="input">
        <p>ชุดวิชา</p>
        <span>{{
          data.value.module_id + " ชุดวิชา" + data.value.module_name_th
        }}</span>
      </div>
      <div class="input">
        <p>ประเภทสัมฤทธิบัตร</p>
        <span>{{ getdegreeName(data.value.degree_of_module_id) }}</span>
      </div>

      <!-- getdegreeName -->
    </div>
    <div class="footer">
      <button class="cancel" (click)="onCloseModal()">กลับ</button>
    </div>
  </ng-template>
</section>
