<section class="dialog">
  <div class="header">
    <div>
      <h1>
        {{
          data.isEdit
            ? id
              ? "แก้ไขข้อมูลสัมฤทธิบัตร"
              : "เพิ่มข้อมูลสัมฤทธิบัตร"
            : "ข้อมูลสัมฤทธิบัตร"
        }}
      </h1>
      <button
        *ngIf="id && !data.isEdit"
        (click)="data.isEdit = true"
        class="edit"
      >
        <i class="material-icons">edit</i>
        แก้ไข
      </button>
    </div>

    <i class="material-icons close" (click)="onCloseModal(false)">close</i>
  </div>
  <hr />

  <ng-container *ngIf="!id || data.isEdit; else view">
    <div class="body">
      <form [formGroup]="certificateForm">
        <div class="input">
          <p>ชื่อสัมฤทธิบัตร ภาษาไทย</p>
          <input formControlName="name_th" />
        </div>
        <div class="input">
          <p>ชื่อสัมฤทธิบัตร ภาษาอังกฤษ</p>
          <input formControlName="name_en" />
        </div>
        <div class="input">
          <p>ชุดวิชา</p>
          <mat-form-field>
            <mat-select
              formControlName="m_id"
              placeholder="เลือกชุดวิชา"
              #singleSelect
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="moduleFilterCtrl"
                  placeholderLabel="ค้นหาชุดวิชา"
                  noEntriesFoundLabel="ไม่พบชุดวิชาที่ค้นหา"
                ></ngx-mat-select-search>
              </mat-option>

              <mat-option
                *ngFor="let module of filteredModule | async"
                [value]="module.m_id"
              >
                {{ module.module_id + " " + module.module_name_th }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input">
          <p>ประเภทสัมฤทธิบัตร</p>
          <select
            formControlName="degree_of_module_id"
            [class.disabled]="degree_of_module_id == undefined"
          >
            <option value="undefined" disabled>เลือกประเภทสัมฤทธิบัตร</option>
            <option *ngFor="let item of degree_of_module" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
      </form>
    </div>

    <div class="footer">
      <button class="cancel" (click)="onCloseModal(false)">ยกเลิก</button>
      <button class="submit" (click)="onSave()">บันทึก</button>
    </div>
  </ng-container>
  <ng-template #view>
    <div class="body">
      <div class="input">
        <p>ชื่อสัมฤทธิบัตร ภาษาไทย</p>
        <span>{{ data.value.name_th }}</span>
      </div>
      <div class="input">
        <p>ชื่อสัมฤทธิบัตร ภาษาอังกฤษ</p>
        <span>{{ data.value.name_en }}</span>
      </div>
      <div class="input">
        <p>ชุดวิชา</p>
        <span>{{
          data.value.module_id + " ชุดวิชา" + data.value.module_name_th
        }}</span>
      </div>
      <div class="input">
        <p>ประเภทสัมฤทธิบัตร</p>
        <span>{{ getDegreeName(data.value.degree_of_module_id) }}</span>
      </div>

      <!-- getdegreeName -->
    </div>
    <div class="footer">
      <button class="cancel" (click)="onCloseModal(false)">กลับ</button>
    </div>
  </ng-template>
</section>
