<section class="dialog">
  <div class="header">
    <div>
      <h1>เพิ่มข้อมูล</h1>
    </div>

    <i class="material-icons close" (click)="onCloseModal(false)">close</i>
  </div>
  <hr />
  <div class="body">
    <div class="example-text">
      <p>รูปแบบการกรอก :</p>
      <div>
        <p>รหัสผู้เรียน (13 หลัก)</p>
        <div>
          <p>ตัวอย่าง</p>
          <div>
            <p>1234567890123</p>
            <p>3210987654321</p>
          </div>
        </div>
      </div>
    </div>
    <div class="input-file">
      <input
        type="file"
        style="visibility: hidden; width: 0px"
        class="file-input"
      />
      <span>
        <p>{{ inputFileName }}</p>
        <button class="input-file-button">
          <i class="material-icons">upload_file</i>
          เลือกไฟล์
        </button>
      </span>
    </div>
    <div class="input-textarea">
      <textarea
        [(ngModel)]="studentInputText"
        id="enrollInputText"
        placeholder="{{
          enrollInputText
            ? ''
            : 'กรอกรหัสผู้เรียน หรือ upload ไฟล์ (.xlsx .xls)'
        }}"
      ></textarea>
      <div class="input-file">
        <form [formGroup]="enrollForm">
          <div class="input">
            <p>วิชา</p>
            <mat-form-field>
              <mat-select
                (selectionChange)="getSeason($event)"
                placeholder="เลือกชุดวิชา"
                #singleSelect
              >
                <mat-option>
                  <ngx-mat-select-search
                    [formControl]="moduleFilterCtrl"
                    placeholderLabel="ค้นหาชุดวิชา"
                    noEntriesFoundLabel="ไม่พบชุดวิชาที่ค้นหา"
                  ></ngx-mat-select-search>
                </mat-option>

                <mat-option
                  *ngFor="let module of filteredModule | async"
                  [value]="module"
                >
                  {{ module.module_id + " " + module.module_name_th }}
                </mat-option>
                <mat-option
                  *ngFor="let course of filteredCourse | async"
                  [value]="course"
                >
                  {{ course.course_id + " " + course.course_name_th }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input">
            <p>รุ่น</p>
            <select formControlName="season_id">
              <option value="null" disabled [selected]="true">
                กรุณาระบุรุ่น
              </option>
              <option
                *ngFor="let item of season"
                value="{{ item.season }}"
                [disabled]="item.public"
              >
                {{ item.season }}
              </option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="cancel" (click)="onCloseModal(false)">ยกเลิก</button>
    <button class="submit" (click)="onSave()">บันทึก</button>
  </div>
</section>
