<section class="body-section">
  <div class="header">Badge</div>
  <div class="search-area">
    <span>
      <input
        placeholder="ค้นหา"
        [(ngModel)]="keyword"
        (input)="onSearching()"
      />
      <ng-container *ngIf="!keyword; else close">
        <i class="material-icons">search</i></ng-container
      >
      <ng-template #close>
        <i class="material-icons searching" (click)="onClearSearching()"
          >close</i
        >
      </ng-template>
    </span>
    <select [(ngModel)]="sort" (change)="onSorting()">
      <option value="null" disabled>จัดเรียง</option>
      <option value="1">ใหม่ที่สุด</option>
      <option value="2">เก่าที่สุด</option>
      <option value="3">Level สูงที่สุด</option>
      <option value="4">Level ต่ำที่สุด</option>
    </select>
  </div>

  <div class="data-list">
    <div
      class="list"
      *ngFor="let item of filter_value"
      [ngClass]="{ disabled: !item.active }"
    >
      <div class="img">
        <div *ngIf="!item.active" class="watermark">
          <div>expired</div>
        </div>
        <img
          src="https://digitech.sut.ac.th/certification-img/badge/{{
            item.path
          }}/{{ item.file_name }}"
        />
      </div>
      <div class="name" ellipsis>
        {{ item.course_name_en }}
      </div>
      <p>( {{ item.course_credit }} credits )</p>

      <!-- percent bar -->
      <div class="level-bar">
        <div class="full-bar">
          <div
            class="percent-bar"
            [ngClass]="
              getScoreLevel([item.objective_score, item.practice_score])
            "
            [ngStyle]="{
              width:
                getSummaryScore([item.objective_score, item.practice_score]) +
                '%'
            }"
          >
            {{ getSummaryScore([item.objective_score, item.practice_score]) }}%
          </div>
        </div>
        <div class="percent-level">
          <p
            [ngClass]="
              getScoreLevel([item.objective_score, item.practice_score])
            "
          >
            {{
              getCompetencyLevel(
                getSummaryScore([item.objective_score, item.practice_score])
              )
            }}
          </p>
        </div>
      </div>

      <div class="detail" ellipsis>
        {{ item.course_detail_en }}
      </div>

      <div class="button-area">
        <button [routerLink]="['/badge-detail/' + item.id]">Detail</button>
      </div>
    </div>
  </div>
</section>
