@import url("./../user-home/user-home.component.css");

div.data-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

div.data-list>div.list {
  background-color: white;
  width: 19%;
  min-height: 400px;
  min-width: 250px;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  padding: 16px 32px;
}

div.data-list>div.list.disabled {
  background-color: #eaeaea !important;
}

div.data-list>div.list.disabled>div.img {
  filter: grayscale(100%);
}

div.data-list>div.list>div.img {
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
}

div.data-list>div.list>div.img>img {
  /* width: 100%; */
  /* max-width: fit-content; */
  height: 100%;
  margin: 0 auto;
}

div.data-list>div.list>div.img .watermark {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  text-transform: uppercase;
}

div.data-list>div.list>div.img .watermark div {
  margin: 0;
  margin: auto;
  font-family: "sutbold";
  background-color: rgb(212, 212, 212);
  color: gray;
  padding: 2.5% 7.5%;
  font-size: 120%;
  border-radius: calc(0.25vmax + 0.75vmin);
}

div.data-list>div.list>div.name {
  width: 100%;
  height: 45px;
  font-size: 16px;
  text-align: center;
  font-family: "sutregular";
  font-weight: 600;
  line-height: 20px;
  margin: 10px 0 0 0;
}

div.data-list>div.list>p {
  width: 100%;
  text-align: center;
  color: #848484;
  font-size: 14px;
  font-family: "sutregular";
  margin: 0;
}

/* //////////  BADGE PERCENT BAR  /////////// */

div.data-list>div.list>div.level-bar {
  font-family: "sutregular";
  margin: 25px 0 10px 0;
  display: flex;
  gap: 1rem;
}

div.data-list>div.list>div.level-bar-disabled {
  filter: grayscale(100%) !important;
}

div.data-list>div.list>div.level-bar>div.full-bar {
  box-sizing: border-box;
  display: flex;
  width: 400px;
  height: 100%;
  background-color: #e8e8e8;
  border-radius: 50px;
}

div.data-list>div.list.disabled>div.level-bar>div.full-bar {
  background-color: #cccccc;

}

div.data-list>div.list>div.level-bar>.full-bar>.percent-bar {
  box-sizing: border-box;
  height: 14px;
  width: 50%;
  border-radius: 50px;
  color: #ffffff;
  font-size: 14px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

div.data-list>div.list>div.level-bar>div.full-bar .gold {
  background-color: #edb037;
}

div.data-list>div.list.disabled>div.level-bar>div.full-bar .gold {
  background-color: #b5b5b5;
}

div.data-list>div.list>div.level-bar>.full-bar>.silver {
  background-color: #999999;
}

div.data-list>div.list>div.level-bar>div.percent-level {
  width: fit-content;
  /* padding: 0 0 0 10px; */
  /* display: flex; */
}

div.data-list>div.list>div.level-bar>div.percent-level>p {
  margin: auto;
  font-size: 12px;
  text-transform: capitalize;
}

div.data-list>div.list>div.level-bar>div.percent-level .gold {
  color: #edb037;
}

div.data-list>div.list.disabled>div.level-bar>div.percent-level .gold {
  color: #b5b5b5;
}

div.data-list>div.list>div.level-bar>div.percent-level .silver {
  color: #999999;
}

div.data-list>div.list>div.detail {
  height: 50px;
  font-size: 14px;
  line-height: 16px;
  font-family: "sutregular";
  font-weight: 100;
  text-align: center;
  margin: 10px 0;
}

div.data-list>div.list>div.button-area {
  width: 100%;
  display: flex;
}

div.data-list>div.list>div.button-area>button {
  border-radius: 3px;
  border: none;
  background-color: #eaf3ff;
  margin: 15px auto 5px auto;
  font-family: "sutregular";
  font-weight: 600;
  font-size: 14px;
  color: var(--soft-blue);

  box-sizing: border-box;
  padding: 4px 24px;

  cursor: pointer;
}

div.data-list>div.list>div.button-area>button:hover {
  background-color: #d7e3f1;
}


/* ----------- Portrait iPhone ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  div.data-list {
    row-gap: 1vh;
    column-gap: 1.33%;
  }

  div.data-list>div.list {
    width: 32%;
    min-height: 200px;
    min-width: unset;
    padding: 2.5%;
  }

  div.data-list>div.list>div.img {
    height: 90px;
  }

  div.data-list>div.list>div.img>img {
    height: 100%;
  }

  div.data-list>div.list>div.img .watermark div {
    font-size: 100%;
  }


  div.data-list>div.list>div.name {
    font-size: calc(10px + 0.25vw);
    line-height: calc(12px + 0.25vw);
  }

  div.data-list>div.list>p {
    font-size: calc(8px + 0.25vw);
  }

  /* //////////  BADGE PERCENT BAR  /////////// */

  div.data-list>div.list>div.level-bar {
    margin: 10% 0 5% 0;
    gap: 2.5%;
  }

  div.data-list>div.list>div.level-bar>div.full-bar {
    /* width: 80%; */
  }

  div.data-list>div.list>div.level-bar>.full-bar>.percent-bar {
    height: 10px;
    font-size: calc(8px + 0.25vw);
  }


  div.data-list>div.list>div.level-bar>div.percent-level>p {
    font-size: calc(8px + 0.25vw);
  }

  div.data-list>div.list>div.detail {
    font-size: calc(7px + 0.25vw);
    line-height: calc(8px + 0.25vw);
    margin: 5% 0;
    height: 45px;
  }

  div.data-list>div.list>div.button-area>button {
    margin: 5% auto;
    font-size: calc(10px + 0.25vw);
  }
}

/* ----------- Landscape iPhone  ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  div.data-list {
    row-gap: 1vh;
    column-gap: 1%;
  }

  div.data-list>div.list {
    width: 24%;
    min-height: 200px;
    min-width: unset;
    padding: 2.5%;
  }

  div.data-list>div.list>div.img {
    height: calc(100px + 2.5vw);
  }

  div.data-list>div.list>div.img>img {
    height: 100%;
  }


  div.data-list>div.list>div.img .watermark div {
    font-size: 100%;
  }


  div.data-list>div.list>div.name {
    font-size: calc(12px + 0.25vw);
    line-height: calc(14px + 0.25vw);
    height: 55px;
  }

  div.data-list>div.list>p {
    font-size: calc(10px + 0.25vw);
  }

  /* //////////  BADGE PERCENT BAR  /////////// */

  div.data-list>div.list>div.level-bar {
    margin: 10% 0 5% 0;
    gap: 2.5%;
  }

  div.data-list>div.list>div.level-bar>div.full-bar {
    /* width: 80%; */
  }

  div.data-list>div.list>div.level-bar>.full-bar>.percent-bar {
    height: 12px;
    font-size: calc(10px + 0.25vw);
  }


  div.data-list>div.list>div.level-bar>div.percent-level>p {
    font-size: calc(10px + 0.25vw);
  }

  div.data-list>div.list>div.detail {
    font-size: calc(12px + 0.25vw);
    line-height: calc(14px + 0.25vw);
    margin: 5% 0;
    height: 45px;
  }

  div.data-list>div.list>div.button-area>button {
    margin: 5% auto;
    font-size: calc(12px + 0.25vw);
  }

}