@import url("./../user-home/user-home.component.css");

/* ----- data-list ----- */
div.data-list {
  gap: 15px;
}

div.data-list > div.list {
  width: 100%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  padding: 16px 24px;
  margin: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  gap: 15px;
  /* display: flex; */
}

div.data-list > div.list > p {
  font-family: "sutbold";
  font-size: 18px;
  margin: 0;
  flex: 0 1 auto;
}

div.data-list > div.list > div.tag {
  border-radius: 3px;
  background-color: #eeeeee;
  padding: 2px 16px;
  margin: 5px 0;
  text-transform: uppercase;
  width: fit-content;
  font-size: 12px;
  font-family: "sutbold";
  flex: 0 1 auto;
}

div.data-list > div.list > div.detail {
  display: flex;
  height: 35px;
  box-sizing: border-box;
  gap: 15px;
}

div.data-list > div.list > div.detail > span {
  margin-top: auto;
  font-family: "sutregular";
  font-weight: 100;
  font-size: 14px;
  color: #2f2f2f;
}
