<section class="body-section">
  <div class="header">My Course</div>
  <div class="search-area">
    <span>
      <input placeholder="ค้นหา" /><i class="material-icons">search</i>
    </span>
    <select>
      <option disabled>จัดเรียง</option>
    </select>
  </div>

  <div class="data-list">
    <div class="list" [routerLink]="['/course-detail']">
      <p>Object-Oriented Programming and Data Structures Module</p>
      <p>ชุดวิชาการเขียนโปรแกรมเชิงอ็อบเจกต์และโครงสร้างข้อมูล</p>
      <div class="tag">Specialist</div>

      <div class="detail">
        <span>3 courses</span>
        <span>|</span>
        <span>10 credits</span>
        <span>|</span>
        <span>started date 21/12/2019</span>
      </div>
    </div>
  </div>
</section>
