<section class="body-section">
  <div class="header">My Course</div>
  <div class="search-area">
    <span>
      <input placeholder="ค้นหา" /><i class="material-icons">search</i>
    </span>
    <select>
      <option disabled>จัดเรียง</option>
    </select>
  </div>

  <div class="data-list">
    <div
      class="list"
      *ngFor="let item of value"
      [routerLink]="['/module-detail/' + item.id]"
    >
      <p>{{ item.name_en }}</p>
      <p>{{ item.name_th }}</p>
      <div class="tag">Specialist</div>

      <div class="detail">
        <span>{{ item.course.length }} courses</span>
        <span>|</span>
        <span>{{ item.trimester_credit }} credits</span>
        <span>|</span>
        <span>started date 21/12/2019</span>
      </div>
    </div>
  </div>
</section>
