<section class="body-section">
  <div class="header">Certificate Of Participant</div>
  <div class="search-area">
    <span>
      <input placeholder="ค้นหา" /><i class="material-icons">search</i>
    </span>
    <select>
      <option disabled>จัดเรียง</option>
    </select>
  </div>
  <div class="data-list">
    <div
      class="list"
      *ngFor="let item of value"
      [routerLink]="['/participant-cert-detail/' + item.id]"
    >
      <div class="img">
        <img src="./assets/images/certificate/{{ item.img }}" />
      </div>
      <div class="detail">
        <p>Certificate in {{ item.name_en }}</p>
        <p>หนังสือรับรองการเข้าร่วมหลักสูตร{{ item.name_th }}</p>
        <div class="tag">Specialist</div>

        <div class="date">
          <span>
            <p>Approved by : Digitech @ SUT</p>
            <p>Approved date : {{ item.approved_date | date: "dd/MM/yyyy" }}</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
