<section class="body-section">
  <div class="header">Certificate Of Participant</div>
  <div class="search-area">
    <span>
      <input placeholder="ค้นหา" /><i class="material-icons">search</i>
    </span>
    <select>
      <option disabled>จัดเรียง</option>
    </select>
  </div>
  <div class="data-list">
    <div class="list">
      <div class="img">
        <img src="./../../assets/images/diploma.svg" />
      </div>
      <div class="detail">
        <p>Certificate in Internet of Things</p>
        <p>หนังสือรับรองการเข้าร่วมหลักสูตรอินเทอร์เน็ตของสรรพสิ่ง</p>
        <div class="tag">Intermediate</div>

        <div class="date">
          <span>
            <p>Approved by : Digitech @ SUT</p>
            <p>Approved date : 21/12/2019</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
