/* ----- header template ----- */
section.header {
  box-sizing: border-box;
  padding: 0 15%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  height: 150px;
  display: flex;
}

section.header>div {
  margin: auto 0;
  height: fit-content;
}

section.header>div>span {
  font-family: "sutregular";
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  color: var(--dark-blue);
}

section.header>div>h1 {
  font-family: "sutregular";
  font-weight: 600;
  font-size: 26px;
  margin: 0;
  color: var(--dark-blue);
  text-transform: capitalize;
}

section.header>div>p {
  font-family: "sutregular";
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  color: #3c5981;
  text-transform: capitalize;
}

/* ----- END header template ----- */

/* ----- breadcrumb template ----- */

section.breadcrumb {
  padding: 20px 15% 35px 15%;
  display: flex;
  gap: 10px;
}

section.breadcrumb>p,
section.breadcrumb>span {
  margin: 0;
  font-family: "sutregular";
  font-weight: 100;
  font-size: 14px;
  color: #212121;
}

section.breadcrumb>p {
  cursor: pointer;
  text-transform: capitalize;
}

section.breadcrumb>p:hover {
  color: var(--blue);
}

/* ----- END breadcrumb template ----- */



/* ----------- Portrait iPhone ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  section.header {
    padding: 0 5%;
    height: calc(100px + 0.25vw);
  }

  section.header>div>span {
    font-size: calc(12px + 0.25vw);
  }

  section.header>div>h1 {
    font-size: calc(16px + 0.25vw);
  }

  section.header>div>p {
    font-size: calc(14px + 0.25vw);
  }

  section.breadcrumb {
    padding: 10px 5%;
  }

  section.breadcrumb>p,
  section.breadcrumb>span {
    font-size: 12px;
  }

}