<section>
  <img
    class="bg-cert"
    src="https://digitech.sut.ac.th/certification-img/certificate/{{
      'Diploma-Digitech-TEMPLATE-blank.jpg'
    }}"
  />
  <div class="inner-cert">
    <div class="logo">
      <img
        class="sut-logo-cert"
        src="https://digitech.sut.ac.th/certification-img/sut-logo.png"
      />
    </div>

    <div class="text-cert">
      <div>
        <div class="d-text-1">มหาวิทยาลัยเทคโนโลยีสุรนารี</div>
      </div>
      <div><div class="d-text-2">หนังสือฉบับนี้ให้ไว้เพื่อแสดงว่า</div></div>
      <div>
        <div class="d-text-3">
          {{ value.first_name + " " + value.last_name }}
        </div>
      </div>

      <!-- <div class="d-text-2">เข้าร่วมอรมหลักสูตรสัมฤทธิบัตร</div>
      <div class="d-text-3">{{ value.module_name_th }}</div>
      <div class="d-text-2">
        ให้ไว้ ณ วันที่ {{ value.diploma_approved_thai_date }}
      </div>
      <img
        class="text-cert-sign"
        src="https://digitech.sut.ac.th/certification-img/signer/{{
          value.signer_img
        }}"
      />
      <div class="d-text-4">
        {{
          "(" +
            value.signer_prefixname +
            " " +
            value.signer_firstname +
            " " +
            value.signer_lastname +
            ")"
        }}
      </div>
      <div class="d-text-4">{{ value.signer_position }}</div> -->
    </div>
  </div>
</section>
