section {
  position: relative;
  font-family: "sutregular";
  font-size: 100%;
  width: 100%;
  height: min-content;
}

.bg-cert {
  width: 100%;
  height: auto;
  display: block;
}

.inner-cert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  width: 100%;
  height: 20%;
  display: flex;
  padding-top: 5%;
}

.sut-logo-cert {
  margin: auto;
  height: 92.5%;
}

.text-cert {
  width: 100%;
  height: 70%;
}

.text-cert div {
  width: 100%;
}

.text-cert .d-text-1 {
  text-align: center;
  font-size: 100%;
  /* line-height: 175%; */
}

.text-cert .d-text-2 {
  text-align: center;
  font-size: 100%;
  /* line-height: 125%; */
}

.text-cert .d-text-3 {
  text-align: center;
  font-size: 100%;
  padding: 1.25% 0;
  /* line-height: 200%; */
}

.text-cert-sign {
  /* height: 17.5%;
  margin: 0.5% auto 0 auto;
  display: flex; */

  height: 17.5%;
  padding: 0.5% 0;
  margin: 0 auto;
  display: flex;
}

.text-cert .d-text-4 {
  text-align: center;
  /* font-size: 100%;
  line-height: 150%; */
}