section {
  position: relative;
  font-family: "sutregular";
  font-size: 100%;
  width: 100%;
  height: min-content;
}

.bg-cert {
  width: 100%;
  height: auto;
  display: block;
}

.inner-cert {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 2.5%;
}

.logo {
  width: 100%;
  height: 20%;
  display: flex;
}

.sut-logo-cert {
  margin: 0 auto;
  height: 100%;
  /* height: 10%; */
}

.text-cert {
  width: 100%;
  height: 55%;
  padding-top: 2.5%;
  box-sizing: border-box;
}

.text-cert div {
  width: 100%;
}

.text-cert .d-text-1 {
  text-align: center;
  font-size: 100%;
  /* line-height: 175%; */
}

.text-cert .d-text-2 {
  text-align: center;
  /* font-size: 100%; */
  /* line-height: 125%; */
}

.text-cert .d-text-3 {
  text-align: center;
  font-size: 100%;
  padding: 1.25% 0;
  /* line-height: 200%; */
}

.text-signer {
  height: 25%;
  width: 100%;
  /* box-sizing: border-box;
  padding: 2.5% 0; */
}

.text-cert-sign {
  height: 50%;
  /* padding: 0.5% 0; */
  margin: 0 auto;
  display: flex;
}

.d-text-4 {
  text-align: center;
  /* font-size: 100%;
  line-height: 150%; */
}