section.login-modal {
  height: calc(100vh - 105px);
  display: flex;
}

section.login-modal>.login-form {
  width: 20%;
  min-width: 450px;
  position: relative;
  margin: auto;
  background: #fff;
  border-radius: 3px;
}

section.login-modal>.login-form>div.form {
  padding: 15% 60px 20% 60px;
  height: 100%;
  box-sizing: border-box;
}

section.login-modal>.login-form>div.form>h1 {
  font-size: 30px;
  font-family: "sutbold";
  margin: 0;
}

section.login-modal>.login-form>div.form>hr {
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  width: 100%;
  margin: 5px 0;
}

section.login-modal>.login-form>div.form>div {
  padding: 25px 0;
  box-sizing: border-box;
}

section.login-modal>.login-form>div.form>div p {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-family: "sutregular";
}

section.login-modal>.login-form>div.form>div input {
  display: block;
  width: -webkit-fill-available;
  /* min-width: 258px; */
  margin: 0;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: "sutregular";
  min-height: 21px;
  resize: vertical;
}

section.login-modal>.login-form>div.form>div input:focus {
  background-color: rgb(243, 243, 243);
  /* outline: none; */
}

section.login-modal>.login-form>div.form>button {
  border: none;
  border-radius: 3px;
  background-color: #ed9226;
  width: 100%;
  font-size: 20px;
  font-family: "sutbold";
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  padding: 10px 0;
  /* margin: 25px 0; */
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.05);
}

section.login-modal>.login-form>div.form>button:disabled {
  background-color: #c3c3c3;
}

section.login-modal>.login-form>p.footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  margin: 15px 0;
  color: #5c5c5c;
  font-size: 14px;
}

div.warning {
  height: 0.75rem;
}

div.warning p {
  margin: 0 !important;
  font-size: 14px !important;
  padding: 1px 0;
  color: rgb(206, 0, 0);
}

input.warning {
  outline: 2px solid red;
  outline-offset: -1px;
  /* border: 2px solid red !important; */
}

::ng-deep .mat-dialog-container {
  padding: 0;
  min-width: 800px;
  overflow: hidden;
}

::ng-deep .cdk-overlay-dark-backdrop {
  background: rgb(0 0 0 / 69%);
}

.g-recaptcha {
  margin: 25px 0;
  transform: scale(1.085);
  -webkit-transform: scale(1.085);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}




/* ----------- Portrait iPhone ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

  section.login-modal>.login-form {
    min-width: unset;
    width: 90%;
    margin: auto 5%;
  }

  section.login-modal>.login-form>div.form {
    width: 100%;
    padding: 15% 10%;
  }

  section.login-modal>.login-form>div.form>h1 {
    font-size: calc(25px + 0.25vw);
  }

  section.login-modal>.login-form>div.form>div {
    padding: 10px 0;
  }

  section.login-modal>.login-form>div.form>div p {
    margin: 10px 0 0 0;
    font-size: calc(14px + 0.25vw);
  }

  section.login-modal>.login-form>div.form>div input {
    font-size: calc(14px + 0.25vw);
  }

  .g-recaptcha {
    margin: 25px 0;
    transform: scale(0.9) !important;
    -webkit-transform: scale(0.9) !important;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }

  section.login-modal>.login-form>div.form>button {
    font-size: calc(16px + 0.25vw);
  }

  section.login-modal>.login-form>p.footer {
    font-size: calc(8.5px + 0.25vw);
  }
}

/* ----------- Landscape iPhone  ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  section.login-modal {
    height: fit-content;
  }

  section.login-modal>.login-form {
    min-width: unset;
    width: 50%;
    margin: auto 25%;
  }

  section.login-modal>.login-form>div.form {
    width: 100%;
    padding: 15% 10%;
  }

  section.login-modal>.login-form>div.form>h1 {
    font-size: calc(25px + 0.25vw);
  }

  section.login-modal>.login-form>div.form>div {
    padding: 10px 0;
  }

  section.login-modal>.login-form>div.form>div p {
    margin: 10px 0 0 0;
    font-size: calc(14px + 0.25vw);
  }

  section.login-modal>.login-form>div.form>div input {
    font-size: calc(14px + 0.25vw);
  }

  .g-recaptcha {
    margin: 25px 0;
    transform: scale(0.9) !important;
    -webkit-transform: scale(0.9) !important;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }

  section.login-modal>.login-form>div.form>button {
    font-size: calc(16px + 0.25vw);
  }

  section.login-modal>.login-form>p.footer {
    font-size: calc(8.5px + 0.25vw);
  }
}