<section class="dialog">
  <div class="header">
    <div>
      <h1>ยืนยันการลบ</h1>
    </div>
    <i class="material-icons close" (click)="onCloseModal()">close</i>
  </div>
  <hr />

  <ng-container>
    <div class="body">
      <p>คุณต้องการลบข้อมูล {{ data.text }} ?</p>
    </div>

    <div class="footer">
      <button class="submit" (click)="onCloseModal(true)">ยืนยัน</button>
      <button class="cancel" (click)="onCloseModal(false)">ยกเลิก</button>
    </div>
  </ng-container>
</section>
