section {
  position: relative;
  font-family: "sutregular";
  font-size: 100%;
}

section.disabled {
  filter: grayscale(100%);
}

section .watermark {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  text-transform: uppercase;
}

.invi {
  opacity: 0;
}

section .watermark div {
  margin: 0;
  margin: auto;
  font-family: "sutbold";
  background-color: rgb(212, 212, 212);
  color: gray;
  padding: 5%;
  font-size: 100%;
  border-radius: calc(0.25vmax + 0.75vmin);
}

.bg-cert {
  width: 100%;
  display: block;
}

.inner-cert {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  width: 15%;
}

.sut-logo-cert {
  position: absolute;
  left: 3%;
  top: 9%;
  width: 8.25%;
}

.text-cert {
  width: 52.5%;
  padding: 9.25% 0;
}

.text-cert .text {
  color: #000000;
  text-transform: uppercase;
  width: 100%;
}

.text-cert .text .c-text-1 {
  font-size: 100%;
  line-height: 100%;
}

.text-cert .text .c-text-2 {
  font-size: 100%;
}

.text-cert .text .c-text-3 {
  font-size: 100%;
  font-family: "sutlight";
}

.text-cert .text .name {
  font-size: 100%;
}

.text-cert .text .c-text-4 {
  font-size: 100%;
  font-family: "sutlight";
  text-align: center;
}

.text-cert-sign {
  width: 27.5%;
  margin: auto;
  display: flex;
}

.badge-cert {
  position: relative;
  padding-top: 9.25%;
  width: 32.5%;
}

div.single-badge>img {
  width: 65%;
  margin: auto;
  display: flex;
}

div.module-badge {
  width: 80%;
  display: flex;
  flex-flow: wrap;
  margin: auto;
}

div.module-badge>div {
  width: 100%;
  display: flex;
  margin-bottom: -2.5%;
}

div.module-badge>div>img {
  width: 48%;
  margin: auto;
}

div.module-badge>img {
  width: 48%;
  padding: 0 0.5%;
}

.text-cert-qr {
  /* position: absolute;
  right: 0;
  width: 100%;
  height: 15.5%;
  bottom: 0; */


  position: absolute;
  right: 3.2%;
  width: 6.75%;
  top: 86%;
}

/* .text-cert-qr>div {
  position: absolute;
  right: 10.25%;
  width: 20%;
  top: 10.5%;
} */

#cert-hide {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  /* visibility: hidden; */
}

/* ----------- Portrait iPhone ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

  .text-cert-qr {
    right: 2.85%;
    top: 86.25%;
    /* top: 78%; */
  }

}