<section class="container">
  <section class="breadcrumb">
    <p [routerLink]="['']">หน้าแรก</p>
    <span>></span>
    <p>จัดการข้อมูลสัมฤทธิสัญลักษณ์</p>
  </section>
  <section class="body">
    <h1>ข้อมูลสัมฤทธิสัญลักษณ์</h1>
    <div class="search-area">
      <span>
        <input placeholder="ค้นหา" /><i class="material-icons">search</i>
      </span>
      <button class="add" (click)="onOpenBadgeDialog(true, null)">
        <i class="material-icons">add</i> เพิ่มสัมฤทธิสัญลักษณ์
      </button>
    </div>
    <div class="table">
      <table>
        <thead>
          <th style="width: 5%"><p>ลำดับ</p></th>
          <th><p>สัมฤทธิสัญลักษณ์ (th)</p></th>
          <th><p>สัมฤทธิสัญลักษณ์ (en)</p></th>
          <th style="width: 20%"></th>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of badge_list
                | paginate: { itemsPerPage: itemsPerPage, currentPage: p };
              let i = index
            "
          >
            <td (click)="onOpenBadgeDialog(false, item)">
              {{ absoluteIndex(i + 1) }}
            </td>
            <td (click)="onOpenBadgeDialog(false, item)">
              {{ item.course_name_th }}
            </td>
            <td (click)="onOpenBadgeDialog(false, item)">
              {{ item.course_name_en }}
            </td>
            <td>
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  class="menu"
                  (click)="onOpenBadgeDialog(true, item)"
                >
                  <mat-icon>edit</mat-icon>
                  <span>แก้ไข</span>
                </button>
                <button mat-menu-item class="menu">
                  <mat-icon>delete</mat-icon>
                  <span>ลบ</span>
                </button>
              </mat-menu>
              <!-- <div class="table-button">
                <button><i class="material-icons">edit</i> แก้ไข</button>
                <button><i class="material-icons">delete</i> ลบ</button>
              </div> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </section>
</section>
