<section class="header">
  <div>
    <span>Certificate of Participant in</span>
    <h1>Internet of Things</h1>
    <p>อินเทอร์เน็ตของสรรพสิ่ง</p>
  </div>
</section>
<section class="breadcrumb">
  <p [routerLink]="['']">Home</p>
  <span>></span>
  <p>Certificate of Participant in Internet of Things</p>
</section>
<section class="cert">
  <div class="cert">
    <div class="cert-paper">
      <img src="./assets/images/diploma.svg" />
    </div>
    <div class="cert-detail">
      <div class="title">
        <hr />
        <p>This certificate is awarded to</p>
        <hr />
      </div>
      <div class="name">
        <p>Samita thavimol</p>
      </div>
      <div class="detail">
        <div>
          <p>Approved By</p>
          <span>Digitech @ SUT</span>
        </div>
        <div>
          <p>Approved Date</p>
          <span>Dec 21 2019</span>
        </div>
        <hr />
        <p>Offered By</p>
        <span class="link">
          <p>
            Suranaree University of Technology
            <i class="material-icons">open_in_new</i>
          </p>
        </span>
        <span>
          <span>Nakhon ratchasima</span>
          <span>•</span>
          <span>Thailand</span>
        </span>
      </div>
      <button>
        <p>Download</p>
        <i class="material-icons">file_download</i>
      </button>
    </div>
  </div>
</section>

<section class="cert-detail">
  <div class="header">
    <div>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="ข้อมูลชุดวิชา"></mat-tab>
        <mat-tab label="รายวิชาในชุดวิชา"></mat-tab>
        <mat-tab label="เกี่ยวกับสถาบัน"></mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="body">
    <h1>ชุดวิชาการวิเคราะห์ข้อมูลเชิงลึกทางธุรกิจ</h1>
    <h1>Business Insight Analytics Module</h1>

    <div id="about" class="plo check-list border">
      <h1>สิ่งที่คุณจะได้เรียนรู้ (Program Learning Outcome)</h1>
      <span>
        <i class="material-icons">check</i>
        <p>เขียนโปรแกรมเชิงอ็อบเจกต์เพื่อออกแบบโครงสร้างข้อมูลได้</p>
      </span>
      <span>
        <i class="material-icons">check</i>
        <p>สื่อสารแนวคิดด้วยภาษาไทยและภาษาอังกฤษได้อย่างมีประสิทธิภาพ</p>
      </span>
      <span>
        <i class="material-icons">check</i>
        <p>
          ค้นคว้าหาความรู้เชิงวิชาการและวิชาชีพด้านเทคโนโลยีดิจิทัลได้ด้วยตนเอง
        </p>
      </span>
      <span>
        <i class="material-icons">check</i>
        <p>อธิบายแนวทางหรือวิธีการพัฒนาและดูแลระบบคอมพิวเตอร์ได้</p>
      </span>
    </div>
    <div class="normal-detail">
      <h1>จำนวนชั่วโมงการเรียนรู้</h1>
      <p>จำนวนชั่วโมงการเรียนบรรยายและปฏิบัติการทั้งหมด 285 ชั่วโมง</p>
    </div>

    <div class="normal-detail">
      <h1>คุณสมบัติผู้เรียน</h1>
      <p>
        เป็นผู้ที่สำเร็จการศึกษาไม่ต่ำกว่า ปวส. หรือเทียบเท่า ที่ ก.พ. รับรอง
      </p>
    </div>

    <div class="normal-detail" id="course">
      <h1>รายวิชาในชุดวิชา</h1>
      <div>
        <h1>
          <span>1.</span>
          <span class="link"
            >การเขียนโปรแกรมเชิงโครงสร้างและโครงสร้างข้อมูล (Structured
            Programming and Data Structures)</span
          >
        </h1>
        <div>
          ขั้นตอนและระเบียบวิธีการโปรแกรมด้วยภาษาคอมพิวเตอร์ระดับสูง อาทิ ภาษาซี
          การควบคุมการไหลของโปรแกรมแบบมีโครงสร้าง
          ฟังก์ชันและการส่งผ่านพารามิเตอร์ แนวคิดเกี่ยวกับโครงสร้างข้อมูล
          การออกแบบโครงสร้างข้อมูล โครงสร้างข้อมูลแบบแถวลำดับและแบบตัวชี้
          โครงสร้างข้อมูลแบบลิงค์ลิสต์ สแตค คิว ทรี กราฟ
          การเรียงลำดับและการค้นหาข้อมูล การวิเคราะห์ขั้นตอนวิธี
          ความซับซ้อนในการคำนวณ
          การประยุกต์ใช้การจัดการโครงสร้างข้อมูลในระบบสารสนเทศ
        </div>
      </div>
      <div>
        <h1>
          <span>2.</span>
          <span class="link"
            >การเขียนโปรแกรมเชิงอ็อบเจกต์ (Object-Oriented Programming)</span
          >
        </h1>
        <div>
          ความรู้เบื้องต้นเกี่ยวกับแนวคิดเชิงอ็อบเจกต์ แนวคิดเชิงอ็อบเจกต์
          ได้แก่ แนวคิดการเขียนโปรแกรมเชิงวัตถุ แนวคิดการห่อหุ้ม
          แนวคิดการทำเป็นโมดูล แนวคิดการสร้างลำดับชั้น แนวคิดการสืบทอด
          แนวคิดการมีหลายรูปแบบ แนวคิดความเกี่ยวข้องกัน และแนวคิดกรอบการทำงาน
          การวิเคราะห์และออกแบบระบบด้วยแนวคิดเชิงอ็อบเจกต์
          การโปรแกรมด้วยภาษาเชิงอ็อบเจกต์ เช่น ภาษาจาวา ชนิดข้อมูลและตัวกระทำ
          นิพจน์และการควบคุม การออกแบบคลาส เมท็อด และส่วนต่อประสาน
          การจัดการกับความผิดปกติ สายโยงใย
          การใช้และการสร้างส่วนต่อประสานโปรแกรมประยุกต์ (เอพีไอ)
          การเข้าถึงฐานข้อมูล การพัฒนาโปรแกรมประยุกต์สำหรับระบบ
        </div>
      </div>
      <div>
        <h1>
          <span>3.</span>
          <span class="link"
            >โครงงานการเขียนโปรแกรมเชิงอ็อบเจกต์และโครงสร้างข้อมูล (Project in
            Object-Oriented Programming and Data Structures)
          </span>
        </h1>
        <div>
          การพัฒนาโครงงานตามหัวข้อที่กำหนดด้านการพัฒนาซอฟต์แวร์เชิงวัตถุ
          บนพื้นฐานของความคิดสร้างสรรค์หรือการคิดเชิงออกแบบ เช่น
          การพัฒนาซอฟต์แวร์สำหรับองค์กร การพัฒนาซอฟต์แวร์เพื่อวัตถุประสงค์เฉพาะ
        </div>
      </div>
    </div>

    <div class="normal-detail">
      <h1>อาจารย์ผู้รับผิดชอบ</h1>
      <ul>
        <li>รศ. ดร.จิติมนต์ อั่งสกุล</li>
      </ul>
    </div>

    <div class="normal-detail">
      <h1>หลักสูตรที่เกี่ยวข้อง</h1>
      <ul>
        <li>
          หลักสูตรวิทยาการสารสนเทศบัณฑิตสาขาวิชาเทคโนโลยีดิจิทัล
          มหาวิทยาลัยเทคโนโลยีสุรนารี
        </li>
      </ul>
    </div>

    <div class="normal-detail">
      <h1>สถาบัน</h1>
      <div>
        <img class="institution-logo" src="./assets/images/sut-logo.svg" />
        <h1>มหาวิทยาลัยเทคโนโลยีสุรนารี</h1>
        <p>
          มหาวิทยาลัยเทคโนโลยีสุรนารี (มทส.) เป็น “มหาวิทยาลัยในกำกับของรัฐ”
          แห่งแรกของประเทศไทย มุ่งผลิตนักวิทยาศาสตร์และเทคโนโลยีที่เป็นเลิศ
          สร้างบัณฑิตพึงประสงค์ ที่มีความพร้อมด้านวิชาการ วิชาชีพ
          มีความสามารถด้านนวัตกรรมและทักษะด้านความเป็นผู้ประกอบการ
          รวมถึงความพร้อมที่จะเป็นพลเมืองโลกในศตวรรษที่ 21
          ด้วยการพัฒนาหลักสูตรที่ทันสมัย
          ส่งเสริมการเรียนรู้ตลอดชีวิตผ่านหลักสูตรพันธุ์ใหม่ หลักสูตร Up-skill,
          Re-skill และ New-skill หลักสูตรแบบ Modular Curriculum
          ที่ยืดหยุ่นได้ตามความต้องการและบริบทสังคม
          ปรับรูปแบบการเรียนการสอนให้รองรับทั้งการเรียนการสอนแบบ On-site, Online
          และแบบ Hybrid ที่นำมาใช้ได้อย่างมีประสิทธิผล
        </p>
      </div>

      <div style="margin-top: 15px">
        <span class="link">
          <p>http://www.sut.ac.th/<i class="material-icons">open_in_new</i></p>
        </span>
        <span>
          111 ถนนมหาวิทยาลัย ตำบลสุรนารี อำเภอเมือง จังหวัดนครราชสีมา 30000
        </span>
        <span>โทรศัพท์ 0-4422-3000 โทรสาร 0-4422-4070.</span>
      </div>
    </div>
  </div>
</section>
