<section class="header">
  <div>
    <span>Badge in</span>
    <h1>{{ value.name_en }}</h1>
    <p>{{ value.name_th }}</p>
  </div>
</section>
<section class="breadcrumb">
  <p [routerLink]="['']">Home</p>
  <span>></span>
  <p>Badge in {{ value.name_en }}</p>
</section>
<section class="body">
  <div class="badge">
    <div class="badge-paper">
      <img src="./assets/images/badge/{{ value.img }}" />
      <div class="badge-info">
        <p>Level</p>
        <span class="gold">{{ getCompetencyLevel(value.score) }}</span>
        <div class="level-bar">
          <div class="full-bar">
            <div
              class="percent-bar gold"
              [ngStyle]="{ width: value.score + '%' }"
            >
              {{ value.score }}%
            </div>
          </div>
        </div>
      </div>
      <div class="badge-info">
        <p>Date Earned</p>
        <span>21/12/2019</span>
      </div>
      <div class="badge-info">
        <p>Offered By</p>
        <span class="link">
          <p>
            Suranaree University of Technology
            <i class="material-icons">open_in_new</i>
          </p>
        </span>
        <span>
          <span>Nakhon ratchasima</span>
          <span>•</span>
          <span>Thailand</span>
        </span>
      </div>
    </div>
    <hr />
    <div class="badge-detail">
      <div class="badge-info">
        <p class="link">{{ course_detail.name_th }}</p>
      </div>
      <div class="badge-info">
        <p>Description</p>
        <span class="text">
          {{ course_detail.detail_th }}
        </span>
        <span class="text">
          {{ course_detail.detail_en }}
        </span>
      </div>

      <div class="badge-info">
        <p>Earned credits</p>
        <span> {{ course_detail.trimester_credit }} Credits</span>
      </div>

      <!-- <div class="badge-info">
        <p>Skills</p>
        <div class="skill">
          <div class="skill-tag">Data Analysis</div>
          <div class="skill-tag">Business Knowledge</div>
          <div class="skill-tag">Communication</div>
        </div>
      </div> -->
    </div>
  </div>
</section>
