/* ----- header template ----- */
section.header {
  box-sizing: border-box;
  padding: 0 15%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  height: 150px;
  display: flex;
}

section.header>div {
  margin: auto 0;
  height: fit-content;
}

section.header>div>span {
  font-family: "sutregular";
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  color: var(--dark-blue);
}

section.header>div>h1 {
  font-family: "sutregular";
  font-weight: 600;
  font-size: 26px;
  margin: 0;
  color: var(--dark-blue);
}

section.header>div>p {
  font-family: "sutregular";
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  color: #3c5981;
}

/* ----- END header template ----- */

/* ----- breadcrumb template ----- */

section.breadcrumb {
  padding: 20px 15% 35px 15%;
  display: flex;
  gap: 10px;
}

section.breadcrumb>p,
section.breadcrumb>span {
  margin: 0;
  font-family: "sutregular";
  font-weight: 100;
  font-size: 14px;
  color: #212121;
}

section.breadcrumb>p {
  cursor: pointer;
}

section.breadcrumb>p:hover {
  color: var(--blue);
}

/* ----- END breadcrumb template ----- */

/* ==================== badge  ==================== */

section.body {
  padding: 0 15%;
}

div.badge {
  background-color: white;
  box-shadow: var(--box-shadow);
  display: flex;
  box-sizing: border-box;
  padding: 24px 48px;
  gap: 48px;
}

div.badge>hr {
  margin: 0;
  border: 0;
  border-left: 1px solid #eaeaea;
}

/*   badge  >  badge-paper    */

div.badge>div.badge-paper {
  width: 25%;
  min-width: 25%;
  box-sizing: border-box;
  /* padding: 16px; */
}

div.badge>div.badge-paper.disabled>div.img,
div.badge>div.badge-paper.disabled>div.badge-info {
  filter: grayscale(100%);
}

div.badge>div.badge-paper>div.img {
  text-align: center;
  width: 100%;
  position: relative;
}

div.badge>div.badge-paper>div.img .watermark {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  text-transform: uppercase;
}

div.badge>div.badge-paper>div.img .watermark div {
  margin: 0;
  margin: auto;
  font-family: "sutbold";
  background-color: rgb(212, 212, 212);
  color: gray;
  padding: 2.5% 7.5%;
  font-size: 100%;
  border-radius: calc(0.25vmax + 0.75vmin);
}

div.badge>div.badge-paper>div.img img {
  width: 100%;
}

div.badge>div.badge-paper>div.detail {
  display: block;
}

div.badge>div.badge-paper div.badge-info,
div.badge>div.badge-detail>div.badge-info {
  margin: 20px 0;
}

div.badge>div.badge-paper div.badge-info>p,
div.badge>div.badge-detail>div.badge-info>p {
  margin: 0;
  font-family: "sutbold";
  font-size: 22px;
}

div.badge>div.badge-paper div.badge-info>p {
  color: var(--dark-blue);
}

div.badge>div.badge-detail>div.badge-info>p {
  color: #000;
}

div.badge>div.badge-paper div.badge-info>span {
  display: flex;
}

div.badge>div.badge-paper div.badge-info>span,
div.badge>div.badge-detail>div.badge-info>span {
  margin: 0;
  font-family: "sutregular";
  font-weight: 100;
  font-size: 18px;
  color: #2f2f2f;
  display: flex;
  gap: 5px;
}

div.badge>div.badge-paper div.badge-info>span.link>p,
div.badge>div.badge-detail>div.badge-info>p.link {
  color: var(--soft-blue);
  font-weight: 600;
  cursor: pointer;
  margin: 0;
}

div.badge>div.badge-paper div.badge-info>span.link:hover>p,
div.badge>div.badge-detail>div.badge-info>p.link:hover {
  text-decoration: underline;
}

div.badge>div.badge-paper div.badge-info>span.link>p>i {
  font-size: 16px;
  vertical-align: middle;
}

div.badge>div.badge-paper div.badge-info>span>span {
  font-size: 16px;
}

div.badge>div.badge-detail>div.badge-info span.text {
  text-indent: 24px;
}

div.badge>div.badge-detail>div.badge-info div.skill {
  display: flex;
  gap: 10px;
  margin: 2px 0;
}

div.badge>div.badge-detail>div.badge-info div.skill>div.skill-tag {
  padding: 4px 16px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-family: "sutregular";
  font-weight: 600;
  font-size: 16px;
  color: var(--soft-blue);
}

/*   badge  >  level bar    */

div.badge>div.badge-paper div.badge-info>div.level-bar {
  font-family: "sutregular";
  margin: 0;
  display: flex;
}

div.badge>div.badge-paper div.badge-info>div.level-bar-disabled {
  filter: grayscale(100%) !important;
}

div.badge>div.badge-paper div.badge-info>div.level-bar>div.full-bar {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  background-color: #e8e8e8;
  border-radius: 50px;
  height: calc(8px + 0.5vmax);
}

div.badge>div.badge-paper.disabled div.badge-info>div.level-bar>div.full-bar {
  background-color: #cccccc;
}

div.badge>div.badge-paper div.badge-info>div.level-bar>.full-bar>.percent-bar {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  border-radius: 50px;
  color: #ffffff;
  font-size: calc(7px + 0.5vmax);
  padding-left: 20px;
  display: flex;
  align-items: center;
}

div.badge>div.badge-paper div.badge-info>div.level-bar>div.full-bar .gold {
  background-color: #edb037;
}

div.badge>div.badge-paper.disabled>div.badge-info>div.level-bar>div.full-bar .gold {
  background-color: #b5b5b5;
}

div.badge>div.badge-paper div.badge-info>div.level-bar>.full-bar>.silver {
  background-color: #999999;
}

div.badge>div.badge-paper div.badge-info>div.level-bar>div.percent-level {
  width: fit-content;
  padding: 0 0 0 10px;
  display: flex;
}

div.badge>div.badge-paper div.badge-info>div.level-bar>div.percent-level>p {
  margin: auto;
  font-size: 12px;
}

div.badge>div.badge-paper div.badge-info>span.gold {
  color: #edb037;
  font-family: "sutbold";
}

div.badge>div.badge-paper.disabled div.badge-info>span.gold {
  color: #b5b5b5;
  font-family: "sutbold";
}

div.badge>div.badge-paper div.badge-info>span.silver {
  color: #999999;
  font-family: "sutbold";
}



/* ----------- Portrait iPhone ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

  section.header {
    padding: 0 5%;
    height: calc(100px + 0.25vw);
  }

  section.header>div>span {
    font-size: calc(12px + 0.25vw);
  }

  section.header>div>h1 {
    font-size: calc(16px + 0.25vw);
  }

  section.header>div>p {
    font-size: calc(14px + 0.25vw);
  }

  section.breadcrumb {
    padding: 10px 5%;
  }

  section.breadcrumb>p,
  section.breadcrumb>span {
    font-size: 12px;
  }

  section.body {
    padding: 0 5%;
  }

  div.badge {
    display: block;
    padding: 2.5% 5%;
  }


  div.badge>div.badge-paper {
    width: 100%;
    min-width: unset;
    display: flex;
  }

  div.badge>div.badge-paper>div.img {
    width: 45%;
  }


  div.badge>div.badge-paper>div.detail {
    padding: 0 0 0 5%;
    width: 55%;
  }

  div.badge>div.badge-paper div.badge-info,
  div.badge>div.badge-detail>div.badge-info {
    margin: 0.5rem 0;
  }

  div.badge>div.badge-paper div.badge-info>p,
  div.badge>div.badge-detail>div.badge-info>p {
    margin: 0;
    font-family: "sutbold";
    font-size: 16px;
  }

  div.badge>div.badge-paper div.badge-info>span,
  div.badge>div.badge-detail>div.badge-info>span {
    font-size: 14px;
  }

  div.badge>div.badge-paper div.badge-info>span.link>p>i {
    font-size: 14px;
  }

  div.badge>div.badge-paper div.badge-info>span>span {
    font-size: 12px;
  }

  div.badge>hr {
    width: 100%;
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #eaeaea;
  }

  div.badge>div.badge-detail {
    margin: 1rem 0 2rem 0;
  }

}

/* ----------- Landscape iPhone  ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  section.header {
    padding: 0 5%;
    height: calc(100px + 0.25vw);
  }

  section.header>div>span {
    font-size: calc(12px + 0.25vw);
  }

  section.header>div>h1 {
    font-size: calc(16px + 0.25vw);
  }

  section.header>div>p {
    font-size: calc(14px + 0.25vw);
  }

  section.breadcrumb {
    padding: 10px 5%;
  }

  section.breadcrumb>p,
  section.breadcrumb>span {
    font-size: 12px;
  }

  section.body {
    padding: 0 5%;
  }

  div.badge {
    gap: 5%;
    padding: 2.5% 5%;
  }

  div.badge>div.badge-paper {
    width: 30%;
    min-width: 30%;
  }

  div.badge>div.badge-paper div.badge-info,
  div.badge>div.badge-detail>div.badge-info {
    margin: 0.5rem 0;
  }

  div.badge>div.badge-paper div.badge-info>p,
  div.badge>div.badge-detail>div.badge-info>p {
    margin: 0;
    font-family: "sutbold";
    font-size: 16px;
  }

  div.badge>div.badge-paper div.badge-info>span,
  div.badge>div.badge-detail>div.badge-info>span {
    font-size: 14px;
  }

  div.badge>div.badge-paper div.badge-info>span.link>p>i {
    font-size: 16px;
  }

  div.badge>div.badge-paper div.badge-info>span>span {
    font-size: 12px;
  }


  div.badge>div.badge-detail {
    margin: 0rem 0 2rem 0;
  }

  div.badge>div.badge-paper div.badge-info>div.level-bar>div.full-bar {
    height: calc(10px + 0.5vmax);
  }

  div.badge>div.badge-paper div.badge-info>div.level-bar>.full-bar>.percent-bar {
    font-size: calc(8px + 0.5vmax);
  }

}