<section class="header">
  <div>
    <span>Badge in</span>
    <h1>Business Insight Analytics</h1>
    <p>ธุรกิจอัจฉริยะและจินตทัศน์สารสนเทศ</p>
  </div>
</section>
<section class="breadcrumb">
  <p [routerLink]="['']">Home</p>
  <span>></span>
  <p>Badge in Business Intelligence and Information Visualization</p>
</section>
<section class="body">
  <div class="badge">
    <div class="badge-paper">
      <img src="./../../assets/images/badge.svg" />
      <div class="badge-info">
        <p>Level</p>
        <span class="gold">Excellent</span>
        <div class="level-bar">
          <div class="full-bar">
            <div class="percent-bar gold" style="width: 85%">85%</div>
          </div>
        </div>
      </div>
      <div class="badge-info">
        <p>Date Earned</p>
        <span>21/12/2019</span>
      </div>
      <div class="badge-info">
        <p>Offered By</p>
        <span class="link">Suranaree University of Technology</span>
        <span>
          <span>Nakhon ratchasima</span>
          <span>•</span>
          <span>Thailand</span>
        </span>
      </div>
    </div>
    <hr />
    <div class="badge-detail">
      <div class="badge-info">
        <p class="link">ธุรกิจอัจฉริยะและจินตทัศน์สารสนเทศ</p>
      </div>
      <div class="badge-info">
        <p>Description</p>
        <span class="text">
          แนวคิดเกี่ยวกับธุรกิจอัจฉริยะและจินตทัศน์สารสนเทศ ซึ่งประกอบไปด้วย
          กระบวนการตัดสินใจโดยการใช้ข้อมูล ประเภทและ กระบวนการตัดสินใจ
          ลักษณะสารสนเทศสำหรับธุรกิจอัจฉริยะและเพื่อสนับสนุนการตัดสินใจ
          กรณีศึกษาธุรกิจอัจฉริยะและระบบสนับสนุน การตัดสินใจในองค์กร
          ระบบสารสนเทศสำหรับผู้จัดการระดับสูงและระบบผู้เชี่ยวชาญ
          ซอฟต์แวร์ด้านธุรกิจอัจฉริยะและระบบสนับสนุนการ ตัดสินใจ
          การกำหนดมุมมองการวิเคราะห์
          การออกแบบจินตทัศน์สารสนเทศเพื่อสนับสนุนการตัดสินใจ
          การเล่าเรื่องราวด้วยข้อมูล แนวทางการพัฒนาระบบสนับสนุนการตัดสินใจ
        </span>
        <span class="text">
          Concepts of business intelligence and information visualization;
          data-driven decision making process, types and processes of decision
          making; information characteristics for business intelligence and
          decision making support, case studies of business intelligence and
          decision making support systems in organizations, executive
          information systems and expert systems, software of business
          intelligence and decision making support system, information
          visualization design, storytelling with data, business intelligence
          system implementation
        </span>
      </div>

      <div class="badge-info">
        <p>Earned credits</p>
        <span>2 Credits</span>
      </div>

      <div class="badge-info">
        <p>Skills</p>
        <div class="skill">
          <div class="skill-tag">Data Analysis</div>
          <div class="skill-tag">Business Knowledge</div>
          <div class="skill-tag">Communication</div>
        </div>
      </div>
    </div>
  </div>
</section>
