div.main {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 105px);

  /* gap: 20px; */
}

div.main.loading {
  overflow: hidden;
}

div.main>div.sidebar {
  width: 20%;
  min-width: 300px;
  /* height: 100%; */
}

div.main>div.body {
  width: 100%;
  /* width: -webkit-fill-available; */
  /* height: 100%; */
}