<section>
  <div class="profile">
    <i class="material-icons">manage_accounts</i>
    <p>Manager</p>
  </div>
  <div class="menu">
    <div
      [ngClass]="{ active: isActiveRouter('/') }"
      (click)="onNavigateByRouter('/')"
    >
      <p>หน้าแรก</p>
    </div>
    <!-- <div>
      <p>ประเภทสัมฤทธิบัตร</p>
    </div> -->
    <div
      [ngClass]="{ active: isActiveRouter('/certficate-data-management') }"
      (click)="onNavigateByRouter('/certficate-data-management')"
    >
      <p>ข้อมูลสัมฤทธิบัตร</p>
    </div>
    <!-- <div>
      <p>ประเภท Badge</p>
    </div> -->
    <div
      [ngClass]="{ active: isActiveRouter('/badge-data-management') }"
      (click)="onNavigateByRouter('/badge-data-management')"
    >
      <p>ข้อมูล Badge</p>
    </div>
    <div
      [ngClass]="{ active: isActiveRouter('/signer-data-management') }"
      (click)="onNavigateByRouter('/signer-data-management')"
    >
      <p>ข้อมูลผู้ลงนาม</p>
    </div>
    <div
      [ngClass]="{
        active:
          isActiveRouter('/certificate-summary-management') ||
          isActiveRouter('/certificate-publishing')
      }"
      (click)="onNavigateByRouter('/certificate-summary-management')"
    >
      <p>สรุปผลสัมฤทธิบัตร</p>
    </div>
  </div>
</section>
