<section class="container">
  <section class="breadcrumb">
    <p [routerLink]="['']">หน้าแรก</p>
  </section>
  <section class="body">
    <h1>Overview</h1>
    <div class="card">
      <div>
        <span>สัมฤทธิบัตรทั้งหมด</span>
        <p *ngIf="certificate_amount">{{ certificate_amount | number }}</p>
      </div>
      <div>
        <span>จำนวนการเข้าอบรม</span>
        <p *ngIf="attendance_amount">{{ attendance_amount | number }}</p>
      </div>
      <div>
        <span>หลักสูตรทั้งหมด</span>
        <p *ngIf="module_amount">{{ module_amount | number }}</p>
      </div>
      <!-- <div>
        <span></span>
        <p></p>
      </div> -->
    </div>
    <div class="column">
      <div class="recent-list">
        <h1>Recently Launched Certificates</h1>
        <div class="list">
          <div>
            <div class="name">Certificate Name</div>
            <div class="detail">Date</div>
          </div>
          <div *ngFor="let item of recent_certificate">
            <div class="name">
              <p>{{ item.cert_name_th }}</p>
              <span>{{ item.cert_name_en }}</span>
            </div>
            <div class="detail">
              <p>{{ item.public_date | date: "dd/MM/yyyy" }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="top-list">
        <h1>Most Popular Courses</h1>
        <div class="list">
          <div *ngFor="let item of popular_course; let i = index">
            <div class="order">
              <p>{{ i + 1 }}</p>
            </div>
            <div class="name">
              <p>{{ item.module_name_th }}</p>
            </div>
            <div class="detail">
              <p>{{ item.amount }} คน</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
