<ng-container *ngIf="value">
  <section class="header">
    <div>
      <span>Certificate of Achievement in</span>
      <h1>{{ value.name_en }}</h1>
      <p>สัมฤทธิบัตร{{ value.name_th }}</p>
    </div>
  </section>
  <section class="breadcrumb">
    <p [routerLink]="['']">Home</p>
    <span>></span>
    <p>Certificate of Achievement in {{ value.name_en }}</p>
  </section>

  <section class="cert">
    <div class="cert">
      <div class="cert-paper">
        <img
          src="https://digitech.sut.ac.th/certification-img/certificate/TEMPLATE-BACKGROUND/{{
            value.img_file_name
          }}"
        />
      </div>
      <div class="cert-detail">
        <div class="title">
          <hr />
          <p>This certificate is awarded to</p>
          <hr />
        </div>
        <div class="name">
          <p>{{ value.first_name + " " + value.last_name }}</p>
        </div>
        <div class="detail">
          <div>
            <p>Approved By</p>
            <div>{{ value.cert_approved }}</div>
          </div>

          <ng-container *ngIf="!value.active; else approvedDate">
            <div>
              <p style="color: red">Date Expired</p>
              <div style="color: red">
                {{ value.cert_expired_date | date: "MMM d, y" }}
              </div>
            </div>
          </ng-container>
          <ng-template #approvedDate>
            <div>
              <p>Approved Date</p>
              <div>{{ value.cert_approved_date | date: "MMM d, y" }}</div>
            </div>
          </ng-template>

          <hr />
          <p>Offered By</p>
          <span class="link" (click)="onNavigate('http://www.sut.ac.th')">
            <p>
              Suranaree University of Technology
              <i class="material-icons">open_in_new</i>
            </p>
          </span>
          <span>
            <span>Nakhon ratchasima</span>
            <span>•</span>
            <span>Thailand</span>
          </span>
        </div>
        <button>
          <p>Download</p>
          <i class="material-icons">file_download</i>
        </button>
      </div>
    </div>
  </section>
  <section class="badge-of-cert" *ngIf="value.badge">
    <div class="header">
      <div>
        <hr />
        <p>Certificate Badge</p>
      </div>
      <div></div>
    </div>

    <div class="body" id="about">
      <div
        class="list"
        *ngFor="let item of value.badge | keyvalue"
        [ngClass]="{ disabled: !item.value.active }"
      >
        <div class="bg"></div>
        <div class="img">
          <img
            src="https://digitech.sut.ac.th/certification-img/badge/{{
              item.value.badge_type_path
            }}/{{ item.value.badge_file_name }}"
          />
        </div>
        <div class="name" ellipsis>
          {{ item.value.course_name_en }}
        </div>
        <p>( {{ item.value.course_credit }} credits )</p>

        <!-- percent bar -->
        <div class="level-bar">
          <div class="full-bar">
            <div
              class="percent-bar"
              [ngClass]="
                getSummaryScore(
                  item.value.objective_score,
                  item.value.practice_score
                ) >= 80
                  ? 'gold'
                  : 'silver'
              "
              [ngStyle]="{
                width:
                  getSummaryScore(
                    item.value.objective_score,
                    item.value.practice_score
                  ) + '%'
              }"
            >
              {{
                getSummaryScore(
                  item.value.objective_score,
                  item.value.practice_score
                )
              }}%
            </div>
          </div>
          <div class="percent-level">
            <p
              [ngClass]="
                getSummaryScore(
                  item.value.objective_score,
                  item.value.practice_score
                ) >= 80
                  ? 'gold'
                  : 'silver'
              "
            >
              {{
                getCompetencyLevel(
                  getSummaryScore(
                    item.value.objective_score,
                    item.value.practice_score
                  )
                )
              }}
            </p>
          </div>
        </div>

        <div class="detail" ellipsis>
          {{ item.value.course_detail_th }}
        </div>

        <div class="button-area">
          <button [routerLink]="['/badge-detail/' + item.value.id]">
            Detail
          </button>
        </div>
      </div>
    </div>
  </section>

  <app-module-template
    *ngIf="value.module_detail"
    [value]="value.module_detail"
  ></app-module-template>
</ng-container>
