@import url("./../user-home/user-home.component.css");

/* ----- data-list ----- */
div.data-list {
  gap: 15px;
}

div.data-list > div.list {
  width: 100%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  padding: 16px;
  margin: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  gap: 15px;
  display: flex;
}

div.data-list > div.list.disabled {
  background-color: #eaeaea !important;
}

div.data-list > div.list.disabled > div.img {
  filter: grayscale(100%);
}

div.data-list > div.list.disabled > div.detail > div.tag {
  background-color: #dedede !important;
}

div.data-list > div.list > div.img {
  width: 300px;
  min-width: 150px;
  display: flex;
}

div.data-list > div.list > div.img > img {
  margin: auto;
  width: 100%;
}

div.data-list > div.list > div.detail {
  width: 100%;
  display: flex;
  flex-flow: column;
}

div.data-list > div.list > div.detail > p {
  font-family: "sutbold";
  font-size: 18px;
  margin: 0;
  flex: 0 1 auto;
}

div.data-list > div.list > div.detail > div.tag {
  border-radius: 3px;
  background-color: #eeeeee;
  padding: 2px 16px;
  margin: 5px 0;
  text-transform: uppercase;
  width: fit-content;
  font-size: 12px;
  font-family: "sutbold";
  flex: 0 1 auto;
}

div.data-list > div.list > div.detail > div.date {
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
}

div.data-list > div.list > div.detail > div.date > span {
  display: block;
  margin-top: auto;
  font-family: "sutregular";
  font-weight: 100;
  font-size: 14px;
  color: #2f2f2f;
}

div.data-list > div.list > div.detail > div.date > span > p {
  margin: 0;
}
