<section class="body-section">
  <div class="header">Certificate Of Achievement</div>
  <div class="search-area">
    <span>
      <input
        placeholder="ค้นหา"
        [(ngModel)]="keyword"
        (input)="onSearching()"
      />
      <ng-container *ngIf="!keyword; else close">
        <i class="material-icons">search</i></ng-container
      >
      <ng-template #close>
        <i class="material-icons searching" (click)="onClearSearching()"
          >close</i
        >
      </ng-template>
    </span>

    <select [(ngModel)]="sort" (change)="onSorting()">
      <option value="null" disabled>จัดเรียง</option>
      <option value="1">ใหม่ที่สุด</option>
      <option value="2">เก่าที่สุด</option>
    </select>
  </div>
  <div class="data-list" *ngIf="value">
    <div
      class="list"
      *ngFor="let item of filter_value | keyvalue"
      [ngClass]="{ disabled: !item.value.active }"
      [routerLink]="['/achievement-cert-detail/' + item.value.id]"
    >
      <div class="img">
        <app-achievement-template
          [value]="item.value"
        ></app-achievement-template>
      </div>
      <div class="detail">
        <p>{{ item.value.name_en }}</p>
        <p>{{ item.value.name_th }}</p>
        <div class="tag">{{ item.value.degree_of_module_name }}</div>
        <div class="date">
          <span>
            <p>Approved by : {{ item.value.cert_approved }}</p>
            <p>
              Approved date :
              {{ getDate(item.value.cert_approved_date) }}
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
